@import '../src/common/colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

body,
html {
  background: $primary-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 40px;
}

@media (min-width: 375px) and (max-width: 425px) {
  .container {
    margin: 0 20px;
  }
}
